@use "../utils/vars" as vars;
@use "../utils/mixins" as *;
@use "../base/functions" as *;
@use "../base/buttons" as *;

@mixin PrimaryLink--def {
  @include flex--start;
  border: solid 2px;
  border-radius: 0.5rem;
  padding: calc(vars.$spacing-unit * 1.5);
  &:hover {
    opacity: 0.8;
  }

  svg {
    margin-right: vars.$grid-gap;
  }
}

.PrimaryLink__default {
  @include PrimaryLink--def;
  color: vars.$clr-txt-secondary;
}
.PrimaryLink__success {
  @include PrimaryLink--def;
  color: vars.$clr-acc-green;
}
.PrimaryLink__warning {
  @include PrimaryLink--def;
  color: vars.$clr-acc-red;
}
