@use "../utils/vars" as vars;
@use "./functions" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  vertical-align: baseline;
}

::selection {
  background-color: vars.$clr-selection-bg;
  color: vars.$clr-selection-txt;
}
:focus-visible {
  outline: dashed 2px vars.$clr-selection-bg;
}

html {
  height: 100%;
  display: block;
  background-color: vars.$clr-base;
  color: vars.$clr-txt-secondary;
  font-size: 16px;
}

body {
  height: 100%;
  display: block;
  background-color: vars.$clr-base;
  color: vars.$clr-txt-secondary;
}

main {
  height: 100%;
  display: block;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

section,
article,
div {
  display: block;
}

ul,
ol,
li {
  display: block;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input[type="text"] {
  border: none;
}

textarea {
  resize: none;
  border: none;
}


