@use "../utils/vars" as vars;
@use "../utils/mixins" as *;
@use "../base/functions" as *;

.TodoNew {
  @include global--container;
  @include grid--col-1;
  margin-top: calc(vars.$header-height-mobile * 2);
  height: calc(100vh - calc(vars.$header-height-mobile * 2));
  @include respond-to("LARGE") {
    height: calc(100vh - calc(vars.$header-height-desktop * 2));
    margin-top: calc(vars.$header-height-desktop * 2);
  }
}